<p>
<table>
	<head>
		<h2>Renee Quijano</h2>
		<div id="contact-info"><i class="fa fa-github"></i><a href="github.com/mamallama">mamallama</a>
		<i class="fa fa-twitter"></i><a href="https://twitter.com/reneequeue">reneequeue</a>
		<i class="fa fa-paper-plane-o"></i><a href="mailto:reneeq25@gmail.com">send mail</a></div>
	</head>
<h1>Summary</h1>
<tr><p>Junior Ruby on Rails Developer with experience in testing/debugging and developing
user-friendly interfaces. A creative thinker with analytical problem-solving skills
and the ability to learn new technologies quickly. Looking for a position that allows
me to continue my growth as a developer through mentorship.</p>
</tr>

<br />
<h1>Technical Skills</h1><p>
	Ruby/Rails, Active Record,
	API development and implementation,
	Git,
	PHP,
	SQL, MongoDB
	JavaScript/jQuery, HTML5, CSS, Bootstrap, Sass, Bourbon,
	Python/Django,
	Clojure</p>
<h1>Experience</h1>
	<p><b>Communicant: Ruby on Rails Developer</b><br />
		•	Final Project for The Iron Yard<br />
		•	Used Agile methodology to lead a development team in order to build a complete,
		open source application, providing a safe and effective way for divorcing parents to communicate.<br />
		•	Applied knowledge of Ruby/Rails, Git, TDD, jQuery, APIs, ERDs, and PostgreSQL.<br />
	</p><br /><br />
	<p><b>Hacix, Inc. Junior PHP Developer</b><br />
		•	Tested and developed software using PHP.<br />
		•	Learned and applied knowledge of beginning front-end design. <br />
		•	Learned and applied knowledge of Python/Django/MySQL/JavaScript.<br />
		•	Wrote and edited technical documentation for new projects involving networks/routers
		 and mobile applications. <br />
		•	Held starting position as administrative assistant, where I handled remote
		 technical support duties for contracted projects.<br />
	</p><br /><br />
	<p><b>OneNews:Software Tester</b><br />
		•	In charge of software testing and light debugging using PHP.<br />
		•	Helped to maintain technical documents, and update as needed for the development team.<br />
	</p>
<h1>Education</h1><br />
	<p><b>The Iron Yard-Durham</b><br />
		Back End Development-Ruby on Rails<br />
	</p><br /><br />
	<p><b>Simmons College</b><br />
		Gender and Culture<br />
	</p><br /><br />
	<p><b>UNC-Charlotte</b><br />
		Sociology/Biology<br />
	</p>
</table>
</p>
