<br />
<div class="grid-items">
  <a href="https://github.com/mamallama" class="grid-item">
    <p>
    <i class="fa fa-github-alt fa-3x"></i>
    <h1>Github</h1></p>
  </a>
  <div class="layer"><a href="https://github.com/Communicant/app" class="grid-item grid-item-big grid-item-image">
  </a>
</div>
  <a href="javascript:void(0)" class="grid-item grid-item-big">
    <div class="modal">
      <label for="modal-1">
        <div class="modal-trigger">
        <p>
        <i class="fa fa-file fa-3x"></i>
        <h1>Resume</h1>
        </p>
      </div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <label class="modal-close" for="modal-1"></label>
        <%= render 'modal' %>
      </div>
    </div>
  </div>

  </a>
  <a href="https://reneequeue.wordpress.com/" class="grid-item">
    <p>
    <i class="fa fa-pencil fa-3x"></i>
    <h1>Blog</h1></p>
    <p>Follow my adventures in coding, post TIY, here</p>
  </a>
  <a href="https://www.linkedin.com/in/renee-quijano-33b5814a" class="grid-item" text="LinkedIn">
    <p>
    <i class="fa fa-linkedin-square fa-3x"></i>
    <h1>LinkedIn</h1>
    </p>
  </a>
  <a href="http://codefordurham.com/" class="grid-item">
    <p>
    <i class="fa fa-laptop fa-3x"></i>
    <h1>Open Source Projects</h1>
    </p>
  </a>
  <a href="#about-volunteer" class="grid-item">
    <p>
    <i class="fa fa-heartbeat fa-3x"></i>
    <h1>Volunteer Information</h1>
    </p>
  </a>
</div>

<!-- gradient image -->
<div class="image-gradient-dynamic" id="about">
  <img src="<%= asset_path( 'sunriseinNC.png' ) %>" alt="">
  <div class="overlay"></div>
  <div class="copy">
    <div id="about-text">
    <p><h1>A little about me</h1></p>
    Coming from an educational background in sociology and gender studies, and a
       family background in programming, it was only a matter of time before my passion
       for both would drive me to pursue an intensive training program, which I
       found through The Iron Yard's backend engineering course. Currently,
       I am aiming to find employment as part of a diverse team of developers,
       with a company that values community involvement, and which places equal stress on the
       importance of maintaining a good work-life balance.
    </div>

  </div>
</div>
<!-- Volunteer Info -->
<div id="about-volunteer">
<h1>Volunteer Experience</h1>
<p><div id="little">Community involvement is one of the best ways to increase the participation
  and professional development of minorities
  in tech. Here is a small sampling of the organizations I am currently involved with: <br /><br />
</div>
</p>
</div>
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <i class="fa fa-dot-circle-o fa-2x"></i>
    </div>
    <div class="bullet-content">
      <h2>Code the Dream</h2>
      <p>"Code the Dream provides a gateway to the tech sector for minority and
         immigrant youth."</p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <i class="fa fa-dot-circle-o fa-2x"></i>
    </div>
    <div class="bullet-content">
      <h2>Hour of Code</h2>
      <p>"The Hour of Code is a global movement reaching tens of millions of students
         in 180+ countries. Anyone, anywhere can organize an Hour of Code event.
          One-hour tutorials are available in over 40 languages. No experience needed.
           Ages 4 to 104."</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <i class="fa fa-dot-circle-o fa-2x"></i>
    </div>
    <div class="bullet-content">
      <h2>Black Girls Code</h2>
      <p>"That, really, is the Black Girls Code mission:  to introduce programming
         and technology to a new generation of coders, coders who will become builders
          of technological innovation and of their own futures." -- Kimberly Bryant, Founder</p>
    </div>
  </li>
</ul>

<!-- About Communicant  -->
<div class="communicant-all">
<p><h1>Communicant <a href="https://vimeo.com/146499661"><i class="fa fa-vimeo-square"></i></a></h1>
</p>
<p><div id="communicant">Communicant arose out of the need for people in difficult
  or hostile situations to remain in communication with each other.
  Originally aimed at divorcing parents, the app has the ability to grow to serve
  a much larger community of people; whether it be feuding roommates, adult
  caretakers of elderly parents, etc. <p> Our app continues to grow, but it's
  core feautures were developed to aid in maintaining effective communication, without the need to
  share personal contact information, and without the possibility for any
  party to type or send harassing messages.</p>
</p></div>
</div>

</div>
<!-- side image: contact -->
<div class="side-image" id="contact">
  <div class="images-wrapper">
  <h1>Contact Information:<br /><br /></h1>
  <h1>Email: <a href="mailto:reneeq25@gmail.com">reneeq25@gmail.com</a><br /><br /></h1>
  <h2><a href="http://www.twitter.com/renequeue"><i class="fa fa-twitter fa-3x"></i></a>
  <a href="https://www.linkedin.com/in/renee-quijano-33b5814a"><i class="fa fa-linkedin-square fa-3x"></a></i>
  <a href="https://www.github.com/mamallama"><i class="fa fa-github fa-3x"></i></a></h2>
  </div>
    <div class="side-image-content" id="map_canvas">
      <!--
Add the code below to the bottom of your page, just before the closing </body> tag.
Edit myLatlng and the other variables.

Find syntax for Features that can be styled here:

https://developers.google.com/maps/documentation/javascript/reference#MapTypeStyleFeatureType

Or use a service such as:

http://software.stadtwerk.org/google_maps_colorizr/#
http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
https://developers.google.com/maps/documentation/javascript/tutorial
-->


<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(35.8847372, -78.80401),
        mapCenter = new google.maps.LatLng(35.8847372, -78.80401),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 13,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
          '<div id="bodyContent"'+
          '<p>Sveavägen 98</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'thoughtbot (Sweden)'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>

<!-- <div id="map_canvas"></div> -->
  </div>
</div>

<!-- </div> -->
<!-- footer -->

<footer class="footer" role="contentinfo">
  <div class="footer-logo">
  <h3><i class="fa fa-bicycle fa-2x" alt= "Logo Image"></i></h3>
  </div>
  <div class="footer-links">
      <h3>Renée Quijano</h3><br />
      <br /><h3>2015</h3>
  </div>
  <hr>
</footer>
