<!-- <div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="http://www.dewallweb.com/wp-content/uploads/2015/11/Sky-Background-318-Amazing-Pictures-Backgrounds.png" alt="Logo Image"></a>
		<div class="copy">
			<h1>Short description of Product</h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>
		</div>
	</div>
</div> -->
<div class="bg-img">

<!-- Side Image -->
<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">

<!-- Modal -->
  <div class="modal">
    <label for="modal-1">
      <div class="modal-trigger">
        <div class="button-group">
        <label>
          <input type="radio" name="button-group" value="item" checked>
          <span class="button-group-item">Resume</span>
        </label>
      </div>
    </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <label class="modal-close" for="modal-1"></label>
          <!-- <h1>Modal Title</h1> -->
          <!-- <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p> -->
          <%= link_to "display using the full viewer", pdfjs.full_path(file: "/Resume.pdf") %>

        </div>
      </div>
    </div>



      <h1>Message with a gradient image</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
  </div>
</div>

<!-- Cards -->

	<!-- <div class="cards">
	  <div class="card">
	    <div class="card-image">
	      <img src="https://assets-cdn.github.com/images/modules/open_graph/github-octocat.png" alt="">
	    </div>
	    <div class="card-header">
	      Github
	    </div>
	    <div class="card-copy">
	      <p>Check out my github profile!</p>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-image">
	      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
	    </div>
	    <div class="card-header">
	      Communicant
	    </div>
	    <div class="card-copy">
	      <p>Shipped final project for The Iron Yard, attempting to make communication between divorcing parents both safe and effective. This project continues to improve daily with hope that it will be used by local families, free of cost.</p>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-image">
	      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
	    </div>
	    <div class="card-header">
	      Resume
	    </div>
	    <div class="card-copy">
	      <p>Previous work history, other fun facts.</p>
	    </div>
  	</div>
	</div>
</div> -->
<!-- parallax window -->

<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <b>Parallax Window</b>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>


<!-- footer -->


<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="http://orig03.deviantart.net/04bf/f/2013/083/4/6/sailor_moon__luna_by_xxamyxxx-d5z3y5d.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">Blog</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>

  <div class="footer-secondary-links">
      <!--<ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul> -->

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>
