<br />
<div class="grid-items">
  <a href="https://github.com/mamallama" class="grid-item">
    <p>
    <i class="fa fa-github-alt fa-3x"></i>
    <h1>Github</h1></p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big">
    <div class="modal">
      <label for="modal-1">
        <div class="modal-trigger">
        <p>
        <i class="fa fa-file fa-3x"></i>
        <h1>Resume</h1>
        </p>
      </div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-1"></div>
      </div>
    </div>
  </div>

  </a>
  <a href="javascript:void(0)" class="grid-item">
    <p>
    <i class="fa fa-pencil fa-3x"></i>
    <h1>Blog</h1></p>
    <p>Follow my adventures in coding, post TIY, here</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <p>
    <i class="fa fa-linkedin-square fa-3x"></i>
    <h1>LinkedIn</h1>
    </p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <p>
    <i class="fa fa-laptop fa-3x"></i>
    <h1>Open Source Projects</h1>
    </p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <p>
    <i class="fa fa-heartbeat fa-3x"></i>
    <h1>Volunteer Information</h1>
    </p>
  </a>
</div>


<!-- side image: contact -->
<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content" id="map_canvas">
      <!--
Add the code below to the bottom of your page, just before the closing </body> tag.
Edit myLatlng and the other variables.

Find syntax for Features that can be styled here:

https://developers.google.com/maps/documentation/javascript/reference#MapTypeStyleFeatureType

Or use a service such as:

http://software.stadtwerk.org/google_maps_colorizr/#
http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
https://developers.google.com/maps/documentation/javascript/tutorial
-->


<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(35.8847372, -78.80401),
        mapCenter = new google.maps.LatLng(35.8847372, -78.80401),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 13,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
          '<div id="bodyContent"'+
          '<p>Sveavägen 98</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'thoughtbot (Sweden)'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>

<!-- <div id="map_canvas"></div> -->
  </div>
</div>

<!-- </div> -->
<!-- footer -->


<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="http://orig03.deviantart.net/04bf/f/2013/083/4/6/sailor_moon__luna_by_xxamyxxx-d5z3y5d.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">Blog</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>

  <div class="footer-secondary-links">
      <!--<ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul> -->

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>
