<!DOCTYPE html>
<html>
<div id="header">
  <div>
    <h1>Renée Quijano</h1>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' => true %>
    <%= csrf_meta_tags %>
  </div>
  <div id="social-fa">
    <i class="fa fa-github fa-2x"></i>
    <i class="fa fa-linkedin-square fa-2x"></i>
    <i class="fa fa-twitter-square fa-2x"></i>
  </div>
</div>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>

<%= yield %>

</body>

</html>
